#footer {
    background-image: url('../../../images/layout/photo5.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
}

.black_filter {
    background-color: rgba(0,0,0, 0.8);
    padding: 20px 0;
}

.primary_footer {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

/* Footer Slogan */

.footer_slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 0 10px;
}

.footer_slogan p {
    font-style: italic;
    font-size: 16px;
}

.footer_socials {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.footer_socials a {
    color: #7833E9;
    font-size: 20px;
    text-shadow: 0px 0px 2px #7833E9;
    transition: ease 0.3s;
}

.footer_socials a:hover {
    color: #D9DCE5;
    text-shadow: 0px 0px 2px #D9DCE5;
}

/* Footer Newsletter */

.footer_newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding: 0 10px;
}

.footer-title {
    font-family: 'monument extended', serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.footer_newsletter p{
    font-size: 14px;
}

.footer_newsletter form {
    margin-top: 20px;
    display: flex;
}

.footer_newsletter form .news-input {
    border: none;
    padding: 10px 20px;
    width: 250px;
    font-size: 12px;
    height: 100%;
}

.footer_newsletter form .purple_button {
    padding: 0 10px;
    border-radius: 0;
}

/* Footer Support */

.footer_support {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.footer_support .footer_topics {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_topics a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    transition: ease 0.3s;
}

.footer_topics a:hover {
    color: #7833E9;
}

.footer_topics span {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Secondary Footer */

.secondary_footer {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.secondary_footer span {
    font-family: 'Montserrat', serif;;
}

@media (min-width: 800px) and (max-width: 1280px) { /*Monitores Menores*/
    .primary_footer {
        max-width: 800px;
    }
    
    .footer_slogan p {
        font-size: 12px;
    }
    
    .footer_newsletter p{
        font-size: 12px;
    }
    
    .footer_topics a {
        font-size: 12px;
    }

    .secondary_footer {
        margin-top: 20px;
        max-width: 800px;
        padding: 0px 20px;
    }
}

@media (min-width: 450px) and (max-width: 800px) { /*TABLETS*/
    .primary_footer {
        max-width: 450px;
        flex-direction: column;
    }

    .footer_slogan {
        align-items: center;
    }
    
    .footer_slogan p {
        text-align: center;
    }

    .footer_newsletter {
        justify-content: center;
        margin-top: 30px;
        align-items: center;
    }
    
    .footer_newsletter p{
        text-align: center;
    }
    
    .footer_support {
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }
    
    .secondary_footer {
        margin-top: 20px;
        max-width: 450px;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

@media (max-width: 450px) { /*CELULARES*/
    .primary_footer {
        max-width: 320px;
        flex-direction: column;
    }

    .footer_slogan {
        align-items: center;
    }
    
    .footer_slogan p {
        font-size: 14px;
        text-align: center;
    }

    .footer_socials a {
        font-size: 18px;
    }

    .footer_newsletter {
        justify-content: center;
        margin-top: 30px;
        align-items: center;
    }
    
    .footer-title {
        font-size: 18px;
    }
    
    .footer_newsletter p{
        font-size: 12px;
        text-align: center;
    }
    
    .footer_newsletter form .news-input {
        width: 200px;
    }
    
    .footer_support {
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }
       
    .footer_topics a {
        font-size: 12px;
    }
    
    .secondary_footer {
        margin-top: 20px;
        max-width: 320px;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        font-size: 10px;
    }
}
