#contact {
    background-image: url('../../../images/layout/photo1.jpg');
}
/**/
.contact-content {
    max-width: 1280px;
    margin: auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: Center;
    background-color: #FFF;
    box-shadow: inset 0 0 10px #999;
}

.contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title h1 {
    letter-spacing: 2px;
    font-size: 36px;
    font-weight: 400;
}

.contact-title .purple-line {
    margin-top: 10px;
    background-color:#7833E9;
    width: 100px;
    height: 7px;
}

.contact-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.contact-body p {
    letter-spacing: 1px;
    line-height: 40px;
    text-align: center;
    color: #333;
    font-size: 14px;
}

.contact-body-links {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 3rem;
}

.contact-body-links a {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    transition: ease 0.3s;
}

.contact-body-links a:hover {
    color:#7f2bed;
}

.contact-body-links i {
    font-size: 32px;
    margin-right: 20px;
}

@media (min-width: 800px) and (max-width: 1280px) { /*Monitores Menores*/
    
}

@media (min-width: 450px) and (max-width: 800px) { /*TABLETS*/
    .contact-content {
        max-width: 450px;
        padding: 60px 15px;
    }

    .contact-title h1 {
        font-size: 28px;
    }
    
    .contact-title .purple-line {
        width: 75px;
    }

    .contact-body p {
        letter-spacing: 1px;
        font-size: 14px;
    }

    .contact-body-links a {
        font-size: 14px;
    }
    
    .contact-body-links i {
        font-size: 30px;
        margin-right: 20px;
    }
}

@media (max-width: 450px) { /*CELULARES*/
    .contact-content {
        max-width: 320px;
        padding: 60px 15px;
    }

    .contact-title h1 {
        font-size: 24px;
    }
    
    .contact-title .purple-line {
        width: 75px;
    }

    .contact-body p {
        letter-spacing: 1px;
        font-size: 12px;
    }

    .contact-body-links a {
        font-size: 12px;
    }
    
    .contact-body-links i {
        font-size: 24px;
        margin-right: 10px;
    }
}
