.clothes_section {
    max-width: 1280px;
    margin: auto;
}

.clothes_section .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;
}

.clothes_section h1 {
    text-align: center;
    font-weight: 400;
}

.clothes_section .purple-line {
    margin-top: 10px;
    background-color:#7f2bed;
    width: 75px;
    height: 5px;
}

.clothes_area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.clothes_item {
    max-width: 350px;
    margin: 0 auto 50px auto;
    box-shadow: 0 0 16px #CCC;
    background-color: #FFF;
}

.clothes_item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.clothes_item img {
    width: 350px;
    box-shadow: inset 0 0 16px #000;
    border-bottom: none;
}

.clothes_item_details {
    padding: 25px 0;
    color: #000;
}

.clothes_item_name {
    font-family: 'Comfortaa', serif;
    font-size: 14px;
}

.clothes_item_price {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

@media (min-width: 800px) and (max-width: 1280px) { /*Monitores Menores*/
    .clothes_area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 450px) and (max-width: 800px) { /*TABLETS*/
    .clothes_area {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 450px) { /*CELULARES*/
    .clothes_area {
        grid-template-columns: repeat(1, 1fr);
    }

    .clothes_item {
        max-width: 250px;
    }

    .clothes_item img {
        width: 250px;
    }
}
