main {
    height: calc(100vh - 85px);
    background-image: url('../../../images/layout/photo1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    align-content: center;
}


.login-container {
    background-color: #FFF;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #999;
}

.login-container h1 {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
}

.login-container em {
    font-size: 14px;
    font-family: 'Montserrat', serif;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form label {
    margin-top: 20px;
}

.login-container form label .text-input {
    border: 1px solid #CCC;
    box-shadow: inset 0 0 4px #CCC;
    width: 100%;
    padding: 10px 20px;
    font-family: 'Montserrat', serif;
    font-size: 18px;
    margin-top: 10px;
}

.login-container form p {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    margin-top: 20px;
    color: rgb(175, 30, 30);
}

.login-container form .purple_button {
    box-shadow: none;
    font-family: 'monument extended', serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 30%;
    margin-top: 15px;
}

.login-container a {
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Montserrat', serif;
    color: #333;
    font-weight: bold;
    transition: ease 0.3s;
}

.login-container a.purple_button {
    color: #FFF;
    text-decoration: none;
    width: 25%;
    font-family: 'monument extended', serif;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 20px;
}

.login-container a:hover {
    color: #7833E9;
}

.login-container p {
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Montserrat', serif;
}

@media (min-width: 800px) and (max-width: 1280px) { /*Monitores Menores*/
    
}

@media (min-width: 450px) and (max-width: 800px) { /*TABLETS*/
    .login-container {
        border-radius: 0px;
    }

    .login-container a.purple_button,
    .login-container form .purple_button.register-btn {
        max-width: 50%;
    }
}

@media (max-width: 450px) { /*CELULARES*/
    .login-container {
        border-radius: 0px;
    }

    .login-container form .purple_button,
    .login-container form .purple_button.register-btn {
        max-width: 100%;
    }

    .login-container a.purple_button {
        width: 100%;
    }
}
