#trade {
    background-image: url('../../../images/layout/photo1.jpg');
}
/**/
.trade-content {
    max-width: 1280px;
    margin: auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: Center;
    background-color: #FFF;
    box-shadow: inset 0 0 10px #999;
}

.trade-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trade-title h1 {
    letter-spacing: 2px;
    font-size: 36px;
    font-weight: 400;
}

.trade-title .purple-line {
    margin-top: 10px;
    background-color:#7833E9;
    width: 100px;
    height: 7px;
}

.trade-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.trade-body p {
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 40px;
    color: #333;
    font-size: 14px;
}

@media (min-width: 800px) and (max-width: 1280px) { /*Monitores Menores*/

}

@media (min-width: 450px) and (max-width: 800px) { /*TABLETS*/
    .trade-title h1 {
        font-size: 30px;
        text-align: center;
    }
    
    .trade-title .purple-line {
        width: 100px;
    }
    
    .trade-body p {
        line-height: 30px;
    }
}

@media (max-width: 450px) { /*CELULARES*/
    .trade-title h1 {
        font-size: 24px;
        text-align: center;
    }
    
    .trade-title .purple-line {
        width: 75px;
    }
    
    .trade-body p {
        text-align: justify;
        line-height: 24px;
        font-size: 12px;
    }
}
